img {
    height: 200px;
    border-style: dotted;
    border-radius: 80%;
  
    
}
img:hover {
    transform: scale(2);
}
@keyframes hellokitty {
    0% {
        transform: rotate(0deg) ;
        background-color:pink;
        transform: matrix(-4,6,10,5,7,5);
        
        
        
        
    }
    50% {
        transform: rotate(360deg) scale(-3);
        background-color:aqua; 
        transform: translateX(1000%);
        
        
        
        
    }
    100% {
        transform: rotate(0deg) scale(1.5);
        background-color:chartreuse; 
        transform: translateZ(50%);
        
        
        
    }
   

}
div {
    animation-name: hellokitty;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-play-state:unset;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    
    
    

}

body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}