img {
    height: 400px;
  
    
}
img:hover {
    transform: scale(2);
}
@keyframes hellokitty {
    0% {
        transform: rotate(0deg);
        background-color: pink;
    }
    50% {
        transform: rotate(360deg);
        background-color: aqua;
    }
    100% {
        transform: rotate(0deg);
        background-color: chartreuse;
    }
   

}
div {
    animation-name: hellokitty;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-play-state:unset;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    

}