body {
    background-color:rgb(226, 144, 114);
    margin: auto;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 250px;
    background-image: url(../images/background-formulaire.jpg);
    background-size: cover;
}
legend {
    font-weight: bold;
    font-size: 25px;
}
.flogin {
    border: 10px dashed black;
    padding: 25px 20px 30px 20px;
}
