#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4,auto);
    
}

h1 {
    display: grid;
    grid-column: 1/span 3;
    text-align: center;
}

nav {
    display:grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
}
ul{
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
li{
    margin: 10px;
}   




footer {
    grid-column: 1;
}

